[submodule "microservices/frontend"]
	path = microservices/frontend
	url = https://github.com/ASE-WS23-GruppeA/frontend
	branch = feature/containerization
[submodule "microservices/analytics-service"]
	path = microservices/analytics-service
	url = https://github.com/ASE-WS23-GruppeA/analytics-service
	branch = main
[submodule "microservices/user-service"]
	path = microservices/user-service
	url = https://github.com/ASE-WS23-GruppeA/user-service
	branch = main
[submodule "microservices/exercise-service"]
	path = microservices/exercise-service
	url = https://github.com/ASE-WS23-GruppeA/exercise-service
	branch = main
[submodule "microservices/workout-service"]
	path = microservices/workout-service
	url = https://github.com/ASE-WS23-GruppeA/workout-service
	branch = main
[submodule "microservices/authorization-server"]
	path = microservices/authorization-server
	url = https://github.com/ASE-WS23-GruppeA/authorization-server
	branch = main
[submodule "microservices/api-gateway"]
	path = microservices/api-gateway
	url = https://github.com/ASE-WS23-GruppeA/api-gateway
	branch = main
